/* regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 1500px;
}

/* parte di header */

header{
  height: 4%;
}

.contatti{
  height: 60%;
  width: 100%;
  background-color:  #a51b0b;
  color: white;
  position: relative;
}

div.contatti>span{
  font-family: 'Roboto Mono', monospace;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
}

.info{
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-family: 'Roboto Mono', monospace;
}

#contatti{
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}

#accedi{
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
}

.fa {
  padding: 10px;
  font-size: 50px;
  width: 20px;
  text-align: center;
  text-decoration: none;
}

.fa-facebook {
  color: white;
  position: absolute;
  top: 50%;
  left: 83%;
  transform: translate(-50%, -50%);
}

.fa-instagram {
  color: white;
  position: absolute;
  top: 50%;
  left: 85%;
  transform: translate(-50%, -50%);
}

/* parte di nav */
nav{
  position: relative;
}

nav>img{
  width: 200px;
  padding: 2% 1% 1% 1%;
}

.menu{
  height: 40px;
  width: 100%;
  position: absolute;
  top: 45%;
  left: 18%;
}

.buttonmenu{
  text-decoration: none;
  color: black;
  padding: 40px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Roboto Mono', monospace;
}

.fas, .far{
  padding: 20px;
  text-decoration: none;
  color: black;
}

/* sezione immagine centrale */
section>img{
  width: 100%;
}

/* parte del main */
main{
  height: 100%;
  width: 100%;
}

.story{
  float: left;
  height: 500px;
  width: 250px;
  margin-left: 300px;
  margin-top: 100px;
  color: #a51b0b;
}

.story>h2{
  font-size: 50px;
  font-family: 'Roboto Mono', monospace;
}

.story>p{
  font-size: 25px;
  font-family: 'Roboto Mono', monospace;
  color: lightgrey;
}

.image{
  float: left;
  margin-left: 100px;
  margin-top: 60px;
  height: 800px;
  width: 1000px;
  position: relative;
}

#pastafresca{
  height: 800px;
  width: 525px;
  background-image: url("../img/Pasta-Fresca.jpg");
  background-size: cover;
}

.infoimage{
  font-size: 20px;
  font-family: 'Roboto Mono', monospace;
  background-color: white;
  padding: 5px;
  margin-left: 10px;
}

#sughi{
  height: 400px;
  width: 450px;
  background-image: url("../img/suhi.jpg");
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
}

#pastaripiena, #stagionali{
  height: 375px;
  width: 212px;
}

#pastaripiena{
  background-image: url("../img/pastaripiena.jpg");
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 550px;
}

#stagionali{
  background-image: url("../img/stagionali.jpg");
  background-size: cover;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* parte del footer */
.footer{
  height: 500px;
  width: 100%;
  background-color: #a51b0b;
}
