/* regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* parte di header */

.contatti{
  height: 50px;
  width: 100%;
  background-color:  #a51b0b;
  color: white;
  position: relative;
}

div.contatti>span{
  font-family: 'Roboto Mono', monospace;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
}

.info{
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-family: 'Roboto Mono', monospace;
}

#contatti{
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}

#accedi{
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
}

.fa {
  padding: 10px;
  font-size: 50px;
  width: 20px;
  text-align: center;
  text-decoration: none;
}

.fa-facebook {
  color: white;
  position: absolute;
  top: 50%;
  left: 83%;
  transform: translate(-50%, -50%);
}

.fa-instagram {
  color: white;
  position: absolute;
  top: 50%;
  left: 85%;
  transform: translate(-50%, -50%);
}
